* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "JetBrainsMono Nerd Font", "FontAwesome 6 Free", Roboto,
    Helvetica, Arial, sans-serif;
  font-size: 12px;
  border-radius: 12px;
}
/* bg = "#2d3144",
  fg = "#fcfcfa",
  grey = "#Bac3db",
  red = "#ff6188",
  blue = "#78dce8",
  green = "#a9dc76",
  yellow = "#ffd866",
  purple = "#ab9df2",
  orange = "#fc9867",
  white = "#f0ecec",
  comment = "#727a9c",
  select = "#274f79",
  bg_dark = "#272b3b",
  bg_darker = "#252838" */

window#waybar {
  background: #252838;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#window {
  font-size: 12px;
  font-family: JetBrains Mono ExtraBold;
}

window#waybar.termite {
  background-color: #3f3f3f;
}
window#waybar.chromium {
  background-color: #000000;
  border: none;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ab9df2;
}

#custom-logo {
  color: #ab9df2;
  margin-left: 20px;
  margin-right: 20px;
}
#custom-search {
  margin-right: 15px;
  color: #78dce8;
}
#custom-btop {
  color: #ff6188;
  margin-right: 15px;
}
#custom-files {
  padding-right: 10px;
  margin-right: 10px;
  color: #ffd866;
}
#custom-terminal {
  color: #Bac3db;
  padding-right: 10px;
}
#custom-spotify {
  color:#a9dc76;
}
#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #ffffff;
  /* margin-left: 5px; */
  border-radius: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5px;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
  background-color: #ab9df2;
  color: #2d3144;
  box-shadow: inset 0 -3px #c5bcf5;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

/* If workspaces is the leftmost module, omit left margin */
/* .modules-left > widget:first-child > #workspaces {
  margin-left: 0;
} */

/* If workspaces is the rightmost module, omit right margin */
/* .modules-right > widget:last-child > #workspaces {
  margin-right: 0;
} */

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#pulseaudio,
#wireplumber,
#custom-powermenu,
#network,
#tray {
  /* backgrou10px -color: #252838; */
  /* padding: 0 10px; */
  padding-left: 5px;
  padding-right: 5px;
  /* color: #252838; */
  margin-top: 5px;
  margin-bottom: 5px;
}

#window,
#workspaces {
  margin: 0 4px;
  margin-top: 5px;
}
#clock {
  color: #fcfcfa;
  /* background-color: #fcfcfa; */
}

#battery {
  color: #78dce8;
  padding-right: 10px;
}

#battery.charging,
#battery.plugged {
  color: #a9dc76;
  /* background-color: #a9dc76; */
  padding-right: 10px;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  color: #ff6188;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#cpu {
  color: #a9dc76;
}

#memory {
  color: #ffd866;
}

#disk {
  color: #ffffff;
}

#backlight {
  color: #bac3db;
}

#network {
  color: #78dce8;
  margin-left: 10px;
}

#network.disconnected {
  color: #ff6188;
}

#pulseaudio {
  color: #ffd866;
}

#pulseaudio.muted {
  color: #90b1b1;
}

#temperature {
  color: #fc9867;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#tray {
  margin-right: 10px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#custom-powermenu {
  /* background-color: #ff6188; */
  color: #ff6188;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 13px;
}

/* UNUSED */
/*
#mode {
  background-color: #64727d;
  border-bottom: 3px solid #ffffff;
}
 #idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#mpd {
  background-color: #66cc99;
  color: #2a5c45;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}

#language {
  background: #00b093;
  color: #740864;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
  background-color: transparent;
} */

/* #wireplumber {
  background-color: #fff0f5;
  color: #000000;
}

#wireplumber.muted {
  background-color: #f53c3c;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
} */
